/*
*Maura Mullen
*October 18
*favorites
*/
/* The universal selector*/
* {
}
/*Body attributes here*/
body{
background-color: mediumturquoise;
}

#bahamas { width: 300px; height: 400px;
 float:right;}

#molly { width: 450px; height: 350px;}

#fall { width: 450px; height: 350px;}

header{ float: right;}




